.footer-container {
  .contact-us-title {
    color: white;
    font-family: "Arial", "Titillium Web", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .contact-us-address div {
    margin-bottom: 5px;
    color: #969696;
  }
  .card {
    width: 94px;
    height: 94px;
  }
  .slogan {
    font-family: "Arial", "Open Sans", sans-serif;
    font-size: 14px;
    color: #969696;
    line-height: 27px;
    font-weight: 300;
    font-style: italic;
  }
  .social-icon-wrapper {
    color: #969696;
    margin-right: 10px;
  }
  background: transparent url("/content/images/logo/footer-image-new.jpg");
}

.footer-logo-img {
  height: 60px;
}

.site .toTopBtn {
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  border: 1px solid #3a454500;
  color: #ffffffb5;
  font-size: 8px;
  background-color: #0000003d;
  padding: 8px 8px;
}

.toTopBtn .fa-chevron-up {
  width: 100%;
  text-align: center;
  font-size: 22px;
}
