html {
  height: 100%;
  font-size: 13px;
}

body {
  min-height: 100%;
  //overflow-y: hidden;
}

html,
body {
  width: auto !important;
  //overflow-x: hidden !important;
}

div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tmp-logo {
  color: white;
  font-family: fantasy;
  font-size: 30px;
  display: flex;
  color: white;
  align-items: center;
}

.tmp-logo:hover {
  text-decoration: none;
  color: white;
}

body {
  font-weight: 400;
  //font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  position: relative;
  display: block;
  /*min-width: 1000px;*/
  font-family: Roboto, sans-serif;
  //background: #f3f4f6;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 0.01em;
  color: rgba(39, 48, 57, 0.85);
  background-color: white;
}

body::after {
  content: "";
  display: block;
  @media only screen and (max-width: 575px) {
    height: 700px;
  }
  height: 500px;
}

.site-footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
}

.g-z-index-2 {
  position: relative;
  z-index: 2;
}

.footer-container {
  padding: 30px 20px;
  color: white;
  background-color: rgb(0, 124, 157);
}

@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}

.arrow-carousel {
  width: 50px;
  outline: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.prev-arrow-carousel {
  left: 0;
}

.next-arrow-carousel {
  right: 0;
}

.next-arrow-icon {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUICarousel-arrows-c495a9b59afd9b35a08c12513d40b8c7e7771499._V2_.png) no-repeat -80px 0;
  width: 100%;
  height: 100px;
  transform: scale(0.5);
}

.prev-arrow-icon {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUICarousel-arrows-c495a9b59afd9b35a08c12513d40b8c7e7771499._V2_.png) no-repeat 0 0;
  width: 100%;
  height: 100px;
  transform: scale(0.5);
}

@-webkit-keyframes animation-right-left {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animation-right-left {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
