.btn-action {
  border: 1px solid #2165ff;
  background-color: white;
  color: #2165ff;
  font-size: 14px;
  border-radius: 5px;

  &:hover {
    background-color: #2165ff0a;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.table-container {
  padding: 20px 20px 30px;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #374A92;
    margin-bottom: 20px;
  }

  .sub-title {
    font-weight: bold;
    font-size: 18px;
    color: #2165FF;
    margin-bottom: 20px;
  }

  .action-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .search-wrapper {
    margin-bottom: 30px;
  }

  .custom-table {
    box-shadow: 1px 1px 1px #d3d3d3;

    div {
      text-align: center;
    }

    .custom-table-header {
      div {
        background-color: #2165FF;
        color: white;
        padding: 10px 0;
        border-left: 1px solid #99999975;
      }
    }

    .custom-table-data {
      background-color: white;

      > div {
        padding: 10px 0;
        border-left: 1px solid #9999991f;
      }

      &:nth-child(2n+1) {
        background-color: #F8F8F8;
      }
    }

    .table-point {
      padding: 0 5px;
    }
  }
}

.error-msg-wrapper {
  display: block;
  padding: 5px 0 0;
  line-height: 1.4;
  font-size: 11px;
  color: #ff424f;
  text-align: left;
  position: absolute;
}

.edit-container {
  margin-top: 2rem;
  background-color: white;
  padding: 50px 50px;
}


.g-padding-0 {
  padding: 0;
}

.g-padding-10 {
  padding: 10px;
}

.g-padding-right-0 {
  padding-right: 0;
}

.g-padding-right-20 {
  padding-right: 20px !important;
}

.g-padding-right-50 {
  padding-right: 50px !important;
}

.g-padding-left-right-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.g-margin-right-10 {
  margin-right: 10px;
}

.g-margin-right-15 {
  margin-right: 1.5rem;
}

.g-margin-right-20 {
  margin-right: 2rem;
}

.g-margin-top-10 {
  margin-top: 10px;
}

.g-margin-top-20 {
  margin-top: 20px;
}

.g-margin-top-30 {
  margin-top: 30px;
}

.g-margin-bottom-10 {
  margin-bottom: 10px;
}

.g-margin-bottom-20 {
  margin-bottom: 20px;
}

.g-margin-bottom-30 {
  margin-bottom: 20px;
}

.g-margin-top-50 {
  margin-top: 50px;
}

.g-font-size-14 {
  font-size: 14px;
}

.g-font-size-20 {
  font-size: 20px !important;
}
