html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  overflow-y: hidden;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  //font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  position: relative;
  display: block;
  /*min-width: 1000px;*/
  font-family: Roboto, sans-serif;
  background: #f3f4f6;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 0.01em;
  color: rgba(39, 48, 57, 0.85);
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

.site-footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}

.site-content {
  background-color: #f2f3f7;
}
