.custom-input-text-container {
  margin-bottom: 10px;

  input:focus {
    border-color: #3271FF;
    box-shadow: none;
  }

  .error-msg-wrapper {
    display: block;
    padding: 5px 0 0px;
    line-height: 1.5;
    font-size: 0.75rem;
    color: #ff424f;
    text-align: left;
  }
}
