body div {
  white-space: normal;
}

/*.geSidebarContainer *,*/
/*.geSidebarContainer *::before,*/
/*.geSidebarContainer *::after,*/
/*.geDialog,*/
/*.geDialog *,*/
/*.geDialog *::before,*/
/*.geDialog *::after {*/
/*box-sizing: content-box;*/
/*}*/

.save-publish-panel-header {
  position: relative;
  border-radius: 8px 8px 0 0;
  background-color: #0090a2;
  box-sizing: border-box;
  padding: 30px 10px 10px 10px;
  text-align: center;
}

.save-publish-panel-header .subtitle, .confirm-panel-header .subtitle {
  font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh, HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  display: block;
  margin-top: 10px;
  white-space: nowrap;
  color: #d3edff;
}

.save-publish-panel-header .title, .confirm-panel-header .title {
  font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh, HelveticaNeueW10-45Ligh, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  display: block;
  line-height: 30px;
  color: #fff;
  white-space: nowrap;
}

.custom-dialog .close, .confirm-panel-header .close {
  border-radius: 50%;
  border: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  background-color: white;
  box-sizing: border-box;
  line-height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-dialog .close:before {
  position: absolute;
  content: '';
  width: 10px;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}

.custom-dialog .close:after {
  position: absolute;
  content: '';
  width: 10px;
  border-bottom: 1px solid #000000ab;
  transform: rotate(135deg);
}

.custom-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.custom-dialog .modal-body, .custom-dialog .modal-footer {
  background-color: white;
}

.publish-dialog .app-link {
  background-color: #eaf7ff;
  color: #3899ec;
  display: inline-block;
  width: auto;
  min-width: 0;
  line-height: 30px;
  margin-left: 12px;
  font-weight: 400;
  vertical-align: top;
  margin-top: 3px;
  padding: 0px 10px;
  border-radius: 10px;
}

.publishItem {
  margin-left: 50px;
  background-color: #3899ec;
  color: white;
  padding: 5px 20px;
}

.geItem.publishItem:hover {
  background-color: #39a7ff;
  color: white;
}

/*.geSidebarContainer.geComponentContainer {*/
/*  left: 50px !important;*/
/*}*/

/*.geHsplit {*/
/*  left: 392px !important;*/
/*}*/

.geDiagramContainer {
  box-shadow: 0px 0px 2px 1px #e9e9e9;
  background-image: url(../static/images/backgound_editor.svg) !important;
}

.navContainer {
  top: 0;
  padding-top: 60px;
  position: absolute;
  width: 87px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.geSidebarContainer {
  /*border-left: 1px solid #707070;*/
  /*overflow-y: hidden!important;*/
}

.navContainer .nav-item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navContainer .nav-link {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  color: #707070;
  text-align: center;
  cursor: pointer;
}

.navContainer .nav-link img {
  width: 35px;
}

.navContainer .nav-link-client img {
  margin-left: 12px;
}

.navContainer .nav-link:hover {
  background-color: #f9f9f9;
}

.header-container {
  padding: 10px 15px 30px 0;
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

.header-title {
  font-size: 20px;
  color: #4C7A81;
  font-weight: 600;
}

.header-hr {
  height: 5px;
  margin-top: 10px;
  padding-left: 15px;
}

.header-hr div {
  background-color: #E8E8E8;
}

.header-hr div.active {
  background-color: #52A1A7;
}

.root {
  width: calc(100% - 90px);
  height: 100%;
  position: absolute;
  left: 130px;
  padding: 10px 20px 10px 50px;
  background-color: #f9f9f9;
  left: 90px;
}

#editor-container {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid #BCBCBC;
  box-shadow: 1px 1px 4px 0px grey;
}

.customToolbarContainer {
  height: 50px;
  background-color: #52A1A7;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.customToolbarContainer .action-btn {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.custom-footer-container {
  margin-top: 20px;
  margin-right: 15px;
}

.custom-footer-container .action-btn {
  font-size: 12px;
  padding: 8px 20px;
  color: #BCBCBC;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background: none;
}

.custom-footer-container .submit-btn {
  color: white;
  background-color: #52A1A7;
  border: 1px solid;
}

.modal-option-title {
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 10px;
}

.modal-option-type {
  height: 20px;
  /*flex: 1;*/
  margin-left: 5px;
  width: 170px;
}

.modal-option-wrapper {
  padding: 10px 10px 10px 18px;
}

.modal-option-url {
  height: 20px;
  width: 100%;
}

.g-margin-top-5 {
  margin-top: 5px;
}

.g-margin-right-5 {
  margin-right: 5px;
}

.btn-common {
  font-size: 12px;
  padding: 8px 20px;
}

.btn-submit:hover{
  opacity: 0.8;
  color: white;
  background-color: #4C7A81;
}

.btn-submit {
  color: white;
  background-color: #52A1A7;
}

.custom-modal-header {
  background-color: #52A1A7;
  color: white;
  padding: 0.5rem;
}

.custom-modal-header .close {
  color: white;
}

.format-image-wrapper {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  white-space: normal;
  padding: 10px;
  color: #535353;
}

.format-image-header {
  font-size: 20px;
  font-weight: 600;
}

.format-image-content-wrapper {
  max-height: 250px;
  overflow-y: auto;
  padding: 0 2px;
}

.format-image-preview-wrapper {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  border: 1px solid #8080803b;
}

.format-image-preview-wrapper > div {
  border-bottom: 1px solid #8080803b;
  height: min-content;
}

.format-image-preview-wrapper > div:nth-last-child(1) {
  border-bottom: none;
}

.format-image-slide-wrapper .format-image-content-wrapper {
  max-height: 200px;
}

.format-image-content {
  /*margin-bottom: 8px;*/
  padding: 8px;
  /*border: 1px solid #E8E8E8;*/

}

.format-image-subheader {
  margin-bottom: 10px;
}

.format-image-content > div {
  width: 90px;
  height: 90px;
  border: 1px solid #E8E8E8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #52a1a714;
}

.format-image-content > div.active {
  outline: 2px solid red;
}

.format-close {
  height: 15px;
  width: 15px;
  border-radius: 18px;
  color: rgb(7, 153, 164);
  background-color: #f5efef;
  font-size: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

.format-close:hover {
  background-color: #cccccc;
}

.image-format-img {
  width: 100%;
  max-height: 100%;
}

.format-link-wrapper {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color: #535353;
  border-color: #535353 !important;
  box-shadow: none !important;
}

.format-link-wrapper .md-form,
.format-link-wrapper .md-form label {
  padding: 0 10px;
}

.format-link-wrapper .md-form {
  margin-top: 0;
  margin-bottom: 10px;
}

.format-link-wrapper .md-form * {
  border-color: #535353 !important;
  box-shadow: none !important;
  color: #535353 !important;
}

.format-link-wrapper .md-form label {
  top: -5px;
}

.format-link-wrapper .form-check {
  margin-left: 10px;
  padding-left: 0;
}

.form-check-input[type=checkbox]:checked + label:before, label.btn input[type=checkbox]:checked + label:before {
  width: 6px;
  height: 15px;
  left: 0;
}

.g-margin-left-10 {
  margin-left: 10px;
}

.select-box {
  width: 100%;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.input-box {
  width: 100%;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-box::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  pointer-events: none;
}

.select-box select {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #F9F9F9;
}

.select-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.select-box .form-control:focus,
.select-box .form-control:active,
.font-size-wrapper input:focus,
.font-size-wrapper input:active {
  box-shadow: none;
  background-color: #F9F9F9;
  outline: none;
}

.font-size-wrapper {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.font-size-wrapper input {
  height: 1.5rem;
  border: none;
  border-bottom: 1px dotted gray;
  margin-left: 20px;
  width: 50px;
  background-color: #f9f9f9;
  text-align: center;
}

.color-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.format-color-preview {
  width: 45px;
  height: 25px;
  margin: 0 10px;
  background-color: #f5f5f5;
  background-image: linear-gradient(#f5f5f5 0px, #e1e1e1 100%);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.format-color-preview > div {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
}

.format-color-edit {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.extend-wrapper {
  padding: 0;
  margin-top: 20px;
}

.tab-header-wrapper {
  border-radius: 5px;
  font-size: 12px;
}

.tab-header-content {
  padding: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #E8E8E8;
  color: #BCBCBC;
  cursor: pointer;
}

.tab-header-content:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.tab-header-content:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-header-content.active {
  background-color: #52A1A7;
  color: white;
}

.format-diagram-wrapper .nav-link {
  height: auto;
  width: auto;
  color: #BCBCBC;
  font-weight: 400;
}

.format-diagram-wrapper .nav-link.active {
  color: white;
}

.format-diagram-wrapper .tab-content {
  padding: 0;
}

.layer-card-wrapper {
  background-color: #bedee0;
  color: #343434;
  padding: 10px 10px;
  /* margin-bottom: 10px; */
  font-size: 12px;
  border-bottom: 1px solid #a6a6a6;
}

.layer-card-wrapper.header {
  color: white;
  background-color: #52a1a7;
}

.layer-card-close {
  color: #db0000;
  cursor: pointer;
}

.layer-card-id {
  text-align: left;
}

.g-margin-bottom-10 {
  margin-bottom: 10px;
}

.g-margin-top-10 {
  margin-top: 10px;
}

.g-margin-top-20 {
  margin-top: 20px;
}

.g-font-weight-400 {
  font-weight: 400;
}

.input-title {
  width: 50px;
}

.input-unit {
  margin-left: 10px;
}

.font-size-wrapper .custom-select-box {
  margin-left: 20px;
}

.custom-select-box {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 1px solid #52A1A7;
}

.custom-select-box .checkmark {
  width: 8px;
  height: 13px;
  border: solid #52A1A7;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-bottom: 3px;
}

.input-select-value {
  padding: 10px;
}

.input-select-content {
  background-color: white;
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px #8080801a;
  margin-top: -2px;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
}

.input-select-item {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
  color: black;
}

.input-select-item:last-child {
  border-bottom: none;
}

.input-select-item.active {
  background-color: #52a1a7cc;
  color: white;
}

.input-select-item:hover {
  background-color: rgba(82, 162, 168, 0.6);
  color: white;
}

.format-image-addBtn {
  text-align: right;
}

.btn-add-image {
  background-color: #52a1a7;
  color: white;
  padding: 5px 15px;
}

.btn-add-image:hover {
  color: white;
}

.format-image-preview-img {
  max-width: 70px;
  max-height: 70px;
  margin-left: 10px;
}

.format-image-preview-name {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.format-image-preview-remove {
  width: 40px;
  color: red;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  align-self: flex-end;
  flex: 1;
}

.custom-input-checkbox {
  height: 18px;
  width: 18px;
  border: 1px solid gray;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-input-checkbox.checked {
  border-color: rgb(220, 0, 78);
}

.custom-input-checkbox.checked:after {
  content: '';
  width: 63%;
  top: 3px;
  height: 63%;
  background-color: rgb(220, 0, 78);
  position: absolute;
  border-radius: 100%;
}

.pdm-input-wrapper.font-size-wrapper {
  padding: 5px 0;
}

.pdm-input-wrapper.font-size-wrapper {
  /*margin-left: 10px;*/
}

.pdm-input-wrapper.font-size-wrapper input {
  border: 1px solid gray;
  height: 2rem;
  margin-left: 0;
}

.g-cursor-pointer {
  cursor: pointer;
}

#add-row {
  color: #03767e;
  border-color: #52A1A7;
}

.custom-btn {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 0 0 1px #737373;
  cursor: pointer;
}

.add-btn {
  background-color: #52a1a7;
}

.delete-btn {
  background-color: #dc0714;
}

.add-link {
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}

.row-name {
  border-radius: 0;
}


.custom-dialog-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dialog-icon .icon-success {
  width: 88px;
  height: 88px;
  border: 4px solid #ffffffc9;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-dialog-icon .icon-success:after {
  content: '';
  position: absolute;
  width: 23px;
  height: 50px;
  top: 9px;
  left: 30px;
  border-bottom: 4px solid #ffffffc9;
  border-right: 4px solid #ffffffc9;
  transform: rotate(45deg);
}

.custom-dialog .modal-body {
  color: #3e495f;
}

.custom-dialog .dialog-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
}

.custom-dialog .modal-footer {

}

.g-font-size-12{
  font-size: 12px;
}
