.about-container {
  margin-top: 20px;
  background-color: black;
  .tab-header {
    background-color: #121212;
    border: none;
    .nav-link {
      display: block;
      padding: 15px 30px;
      color: #777;
      font-size: 15px;
      position: relative;
      text-decoration: none;
      border: none;
      &.active, &:hover {
        background-color: inherit;
        border: none;
        color: #f9f9f9;
      }
    }
  }

  .tab-content {
    padding: 20px 10px;
    .about-item {
      padding: 0;
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 33.33%;
      }
      @media only screen and (min-width: 992px) {
        max-width: 25%;
      }
      img {
        width: 100%;
        transition: filter 300ms linear, transform 1s linear;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        &:hover {
          filter: none;
          -webkit-filter: none;
          -moz-filter: none;
          -o-filter: none;
        }
      }
    }
  }
}
