.ban-hang-home .catalogue-icon {
  width: 5.2rem;
  height: 5.2rem;
}

.ban-hang-home .hot-line-wrapper {
  margin-right: 20px;
}

.ban-hang-home .hot-line-wrapper div {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ban-hang-home .category-title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.ban-hang-home .category-item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.pharmacy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pharmacy-wrapper .item-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.pharmacy-wrapper .cart {
  text-align: center;
}

.btn-create-order {
  padding: 10px;
  background-color: #007c9d;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}
