//.carousel-category {
//  p {
//    text-align: center;
//  }
//}
.category {
  margin-top: 3rem;
  .category-item {
    position: relative;
    width: 100%;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    //background-size: cover;
    margin-bottom: 18px;
    img {
      height: 40px;
      margin-bottom: 12px;
    }
    &:focus,
    &:active {
      outline: none;
    }
    .category-overlay {
      cursor: pointer;
      padding: 50px 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      -webkit-transition: ease-in-out 0.25s;
      -moz-transition: ease-in-out 0.25s;
      -ms-transition: ease-in-out 0.25s;
      -o-transition: ease-in-out 0.25s;
      transition: ease-in-out 0.25s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .title-lg {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 786px) {
  .title-lg {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .title-lg {
    font-size: 20px;
  }
}

.card {
  margin: 32px 0;
}

.card.bg-light {
  padding: 3em 60px;
  margin: 3em 0;
}

.card-body img,
.pharmacy-service img {
  height: 120px;
  margin-bottom: 10px;
}

.card-body .card-item {
  text-align: center;
  cursor: pointer;
}

.bg-light {
  background-color: #f8f8f8 !important;
}

.pharmacy-service {
  padding-top: 4rem;
  padding-bottom: 4rem;
  p,
  .sub-title {
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 3rem;
  }
}

.card.product {
  border: none;
  //box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.1);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px 0;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  button.btn-add-to-cart {
    display: none;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 5%;
    width: 90%;
  }
  .card-body {
    //height: 184px;
    height: 160px;
    @media (max-width: 667px) {
    }
  }
}

.card.product:hover {
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
  .btn-primary-border {
    background-color: #194ccc;
    color: white;
    display: block;
  }
}

.card.product .card-img {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 170px;
}

@media (max-width: 1023px) {
  .card.product .card-body {
    padding-bottom: 0.8rem;
    padding: 10px 10px 0;
    position: relative;
  }
  .btn-add-to-cart {
    display: block !important;
    font-size: 9px;
    position: absolute;
    bottom: 10px;
    width: 90%;
  }
  .reviewers {
    margin-bottom: 0;
  }
  .title-wrapper {
    height: 54px;
    overflow: hidden;
    h6 {
      max-height: 32px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      ///* autoprefixer: off */
      //  -webkit-box-orient: vertical;
      ///* autoprefixer: on */
    }
    p {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 28px;
      white-space: nowrap;
    }
  }
}

.card.product .price-wrapper {
  height: 42px;
  //margin-top: 4px;
}

.new-price {
  color: #194ccc;
  margin-bottom: 0;
}

.old-price {
  text-decoration: line-through;
  margin-bottom: 0;
  padding-left: 4px;
}

.card-img {
  overflow: hidden;
  .badge {
    //position: absolute;
    //transform: rotate(40deg);
    //right: 0;
    //top: 0;
    //padding: 8px 0;
    //font-size: 16px;
    //color: white;
    //width: 100px;
    //height: 28px;
    //border-radius: 0;
    //background-color: #fd354e;
    /**
    Doan nay la cai hinh dai dai ne
    position: absolute;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    right: -40px;
    top: 19px;
    padding: 4px 0px;
    font-size: 11px;
    color: white;
    width: 145px;
    height: 20px;
    border-radius: 0;
    background-color: #fd354e;
    font-weight: bold;
    **/

    width: 55px;
    height: 55px;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: #ea5f56;
    padding-top: 7px;
    display: grid;
    span {
      font-size: 10px;
      &.text-top {
      }
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1.4;
    }
  }
}

/**
Doan nay la cai hinh dai dai ne
//.badge:after {
//  content: "";
//  width: 0;
//  height: 0;
//  left: 0;
//  bottom: -8px;
//  border-style: solid;
//  position: absolute;
//  border-width: 0 25px 8px;
//  border-color: transparent #fd354e;
//}
**/
.card.product .card-title {
  margin-bottom: 0;
}

.pharmacy-made-easy {
  margin-top: 8rem;
  position: relative;
  padding: 0px 20px;
  background-color: white;
  img.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 170px;
  }
  .title {
    position: relative;
    margin-bottom: 80px;
    &:after {
      position: absolute;
      content: "";
      height: 2px;
      width: 65px;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      background: #194ccc;
    }
  }
  .card {
    position: relative;
    min-height: 390px;
    padding: 20px;
    //display: block;
    img {
      height: 66px;
    }
    .card-title {
      margin: 14px 0;
      color: #4a4a4a;
      white-space: pre-wrap !important;
    }
  }
}

.card-grey {
  background: #f4f4f4;
}

.exclamation {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(142deg, #7b9bed, #567fea);
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  &:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 19px;
    border-radius: 4px;
    background-color: #ffffff;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
  }
}

@media (max-width: 1280px) {
  .pharmacy-made-easy {
    .pharmacy-wrapper {
      overflow-x: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      display: block;
    }
    img.background {
      height: 110px;
    }
    .item-5 {
      width: 33%;
      display: inline-block;
      p {
        white-space: pre-wrap !important;
      }
    }
  }
}

.line-clamp {
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp__1 {
  -webkit-line-clamp: 1;
  white-space: nowrap;
}

.line-clamp__2 {
  -webkit-line-clamp: 2;
  max-height: 36px;
}

@media (max-width: 992px) {
  .pharmacy-service {
    padding-bottom: 0;
    h2 {
      font-size: 24px;
    }
    img {
      height: 90px;
      margin-bottom: 52px;
    }
    img.certified {
      margin-bottom: 80px;
    }
    img.discount {
      margin-bottom: 120px;
    }
    .content {
      display: inline-block;
      width: 67%;
      padding-left: 2%;
    }
  }
}

@media (max-width: 768px) {
  .pharmacy-made-easy {
    .item-5 {
      width: 70%;
    }
  }
}

@media (max-width: 414px) {
  .pharmacy-made-easy {
    img.background {
      height: 85px;
    }
  }
}

@media (max-width: 375px) {
  .pharmacy-made-easy {
    .card {
      height: 365px;
    }
  }
}

@media (max-width: 320px) {
  .pharmacy-made-easy {
    .card {
      padding: 10px;
      h4 {
        font-size: 18px;
      }
    }
  }
  .card.product {
    button.btn-add-to-cart {
      font-size: 10px;
    }
  }

  .title-wrapper {
    height: 72px;
    p {
      font-size: 14px;
      white-space: initial;
      height: auto !important;
    }
  }
}

.right-pill-content {
  background: #4ce1c6;
  margin-top: 60px;
  padding: 3.8rem 0 3.8rem 70px;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  position: relative;
}

.right-pill-content:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1000px;
  top: 0;
  right: -999px;
  background: #4ce1c6;
}

.right-pill-content .free-shipping {
  position: absolute;
  background: #567fea;
  padding: 12px 32px;
  bottom: -42px;
  left: 70px;
  border-top-left-radius: 54px;
  border-bottom-left-radius: 54px;
}

.right-pill-content .free-shipping:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1000px;
  right: -999px;
  top: 0;
  background: #567fea;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.card-header {
  position: relative;
  background: #567fea;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
}

.card-header .pill-icon {
  position: absolute;
  right: 7px;
  top: 7px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-body ul li:after {
  content: "";
  position: absolute;
  background: #4ce1c6;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  left: -10px;
  top: -2px;
}

.card-body ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.card-body ul li {
  position: relative;
  border-left: 1px solid #999;
  padding-bottom: 16px;
  padding-left: 18px;
}

.card-body ul li:before {
  content: "";
  position: absolute;
  height: 9px;
  width: 5px;
  border: 2px solid #fff;
  left: -2px;
  border-top: none;
  border-left: none;
  top: 2px;
  z-index: 99;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.card-body ul li:last-child {
  border: none;
  padding-bottom: 0;
}
