.tu-van-home .hot-line-title {
  font-size: 1.325rem;
  color: white;
  text-align: center;
}

.tu-van-home .hot-line-value {
  font-size: 1.75rem;
  padding: 0;
  font-weight: bold;
  color: #fff816;
  text-align: center;
}

.tu-van-home .hot-line-wrapper {
  background-color: #007c9d;
  padding: 3rem 1.5rem;
  flex-grow: 1;
  border-right: 1px dashed #fff;
}

.tu-van-home .carousel-list-item-hr {
  border-color: #007c9d;
}

.tu-van-home .slick-slider {
  width: 100%;
}

#featured-services .text-title-home {
  text-transform: uppercase;
  padding: 1px 0 30px;
  font-size: 25px;
}

#featured-services .text-title-home hr {
  background: #007c9d;
  width: 120px;
  margin: 10px auto;
}

#featured-services .service-home {
  padding: 0 2px;
  margin: 0;
}

#featured-services .title-service {
  text-transform: uppercase;
  background: #007c9d;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-weight: 700;
}

#featured-services ul.service_menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#featured-services ul.service_menu li {
  padding: 5px 20px;
  border: 1px solid #eee;
  background: #fff;
  margin-top: 3px;
}

#doctor-hometitle .text-title-home {
  text-transform: uppercase;
  padding: 50px 0 0;
  font-size: 25px;
}

#doctor-home {
  margin: 20px 0 50px;
  color: #fff;
}
