.item-detail-container {
  .left-panel {
    padding: 20px;
    position: sticky;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-end;
    h3,
    .separator,
    p,
    h4,
    .project-details,
    span,
    div {
      text-align: left;
      justify-content: flex-start;
      @media (max-width: 995px) {
        text-align: center;
        justify-content: center;
      }
    }
    h3 {
      font-size: 22px;
      font-family: "futurastd-bold", sans-serif;
      width: 100%;
      color: #000;
      margin-top: 20px;
      letter-spacing: 2px;
      font-weight: 600;
    }

    .separator {
      width: 80px;
      height: 5px;
      background: #000;
      margin: 20px 0 20px;
      position: relative;
    }
    p {
      font-family: arial;
      font-size: 15px;
      line-height: 24px;
      width: 100%;
    }
    h4 {
      font-weight: 600;
      letter-spacing: 1px;
      font-family: "futurastd-bold", sans-serif;
      width: 100%;
      color: #000;
      font-size: 15px;
    }

    .project-details {
      font-family: arial;
      width: 100%;
      font-size: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      span {
        letter-spacing: 2px;
        font-family: "vniavo", "helveticaNeueLight";
      }
    }

    .action-btn {
      cursor: pointer;
      font-weight: 600;
      &:hover {
        color: #dfb947;
        .action-txt {
          &.previous-btn {
            &:before {
              webkit-transform: translate(-9px, -13px) rotate(-40deg);
              -moz-transform: translate(-9px, -13px) rotate(-40deg);
              transform: translate(-9px, -13px) rotate(-40deg);
            }
            &:after {
              -webkit-transform: translate(0, 3px) rotate(40deg);
              -moz-transform: translate(0, 3px) rotate(40deg);
              transform: translate(0, 3px) rotate(40deg);
            }
          }
          &.next-btn {
            &:before {
              -webkit-transform: translate(0, 13px) rotate(40deg);
              -moz-transform: translate(0, 13px) rotate(40deg);
              transform: translate(0, 13px) rotate(40deg);
            }
            &:after {
              -webkit-transform: translate(0, 0) rotate(-40deg);
              -moz-transform: translate(0, 0) rotate(-40deg);
              transform: translate(0, 0) rotate(-40deg);
            }
          }
        }
      }
      .action-txt {
        position: relative;
        &.next-btn:after,
        &.next-btn:before {
          content: '';
          position: absolute;
          right: -7px;
          top: 50%;
          width: 1px;
          height: 7px;
          background-color: #cbcccd;
          -webkit-transform-origin: 21px 0;
          -moz-transform-origin: 21px 0;
          transform-origin: 21px 0;
          -webkit-transition: transform .2s;
          -moz-transition: transform .2s;
          transition: transform .2s;
        }

        &.next-btn:after {
          -webkit-transform-origin: 3px 0;
          -moz-transform-origin: 3px 0;
          transform-origin: 3px 0;
          top: 2px;
        }

        &.previous-btn:after,
        &.previous-btn:before {
          content: '';
          position: absolute;
          left: -10px;
          top: 50%;
          width: 1px;
          height: 7px;
          background-color: #cbcccd;
          -webkit-transform-origin: 21px 0;
          -moz-transform-origin: 21px 0;
          transform-origin: 21px 0;
          -webkit-transition: transform .2s;
          -moz-transition: transform .2s;
          transition: transform .2s;
        }

        &.previous-btn:after {
          -webkit-transform-origin: 3px 0;
          -moz-transform-origin: 3px 0;
          transform-origin: 3px 0;
          top: 2px;
        }

      }
    }
  }
}
