.slide-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.slide {
  margin-bottom: 10px;
  text-align: center;

  .slide-child {
    position: relative;
  }
}

.input-wrapper {
  margin-top: 20px;
}
