.header-wrapper {
  padding: 0 50px;
  background-color: #0d92c4;
  color: white;
  .logo-image {
    height: 28px;
  }
}

.header-menu-wrapper {
  //font-family: "Titillium Web", serif;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  .nav-item {
    padding: 1rem 1rem;
  }
  .nav-link {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    .nav-text {
      position: relative;
    }
    &.active,
    &:hover .nav-text:after {
      width: calc(100% + 2px);
    }
    .nav-text:after {
      width: 0;
      position: absolute;
      content: "";
      display: block;
      height: 2px;
      background-color: #dfb947;
      left: 50%;
      top: 20px;
      -webkit-transform: translate(-50%, 0) translateZ(0);
      -moz-transform: translate(-50%, 0) translateZ(0);
      transform: translate(-50%, 0) translateZ(0);
      -webkit-transition: width 0.25s cubic-bezier(0.27, 0.62, 0.43, 1.01);
      -moz-transition: width 0.25s cubic-bezier(0.27, 0.62, 0.43, 1.01);
      transition: width 0.25s cubic-bezier(0.27, 0.62, 0.43, 1.01);
    }
  }
}
