.header-wrapper {
  font-size: 1.6rem;
  background-color: #007c9d;
  color: white;
  padding: 0.5rem 0;
  border-bottom: 1px solid whitesmoke;
}

.header-catalogue {
  padding: 0.7rem 0;
  cursor: pointer;
}

.header-catalogue-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  //color: #2d2d32;
  letter-spacing: -0.3px;
}

.header-catalogue-sub-title {
  font-size: 11px;
  line-height: 18px;
  //color: #787887;
  letter-spacing: -0.1px;
  opacity: 0.8;
}

.search-input-wrapper {
  background-color: #007c9d;
  padding: 1rem 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
  height: 4rem;
  border-radius: 0.5rem;
}

.btn-search-input {
  background-color: #ec7323;
  border-color: #eb833f;
  color: white;
  position: absolute;
  right: 0.3rem;
  border-radius: 5px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.search-input::placeholder {
  font-size: 15px;
}

.search-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
}

.search-input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
}

.search-input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 15px;
}

.search-input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 15px;
}
