.contact-us-container {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 50px;
  .mapouter,
  .gmap_canvas,
  iframe {
    width: 100%;
    height: 500px;
  }

  input.form-control {
    height: 40px;
  }

  .btn-submit {
    position: relative;
    display: inline-block;
    outline: 0;
    padding: 10px 30px;
    font-family: "Titillium Web", serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .message-wrapper {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.lds-ring {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
    }
    &.local-loader.lds-ring div {
      width: 20px;
      height: 20px;
    }
  }
}
