.well-come-container {
  padding: 2px;
  width: 100%;
  height: calc(100% - 5px);;

  .well-come-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    text-align: right;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .well-come-content {
      width: 100%;
      padding: 30vh 40px 40px 40px;
      -webkit-box-pack: end;
      justify-content: flex-end;
      font-size: 25px;
      line-height: 1.5;
      .name {
        color: red;
      }
    }
  }
}
